<!-- 
		BEGIN: Modals Layout. 
		--
		Our simple modal system makes the assumption that only one modal window can be
		open at a time. I find this to be a very reasonable assumption for 99% of use-
		cases. And, I'd rather keep it simple and work around the rare use-case in some 
		other fashion (such as a multi-state modal).

		To remove any "magic", I'm explicitly presenting the control properties rather 
		than trying to hide them behind a compile() step. Notice that rendering a modal 
		is JUST LIKE RENDERING ANY OTHER VIEW - we have a subview variable which we are
		using to swap modals, or remove modals altogether.

		The big take-away in the following code is that modal windows aren't a *special*
		concept. They are views or components that work the same exact way that the rest 
		of your application works! Sure, there are a few more rules, like only one open 
		at a time; but, other than that, there's nothing here that's any different than 
		any other view you will build. It has a Controller, it has a View, and it works 
		with other services to execute its functionality.
	-->
<div bn-modals ng-show="subview" class="modal-holder" ng-switch="subview">
    <!-- BEGIN: Alert Modal. -->
    <div ng-switch-when="alert" ng-controller="AlertController" class="bn-modal">
        <p>{{ message }}</p>
        <p><a ng-click="close()">Ok, I got it!</a></p>
        <!-- This is to demonstrate that we can jump from one modal to another. -->
        <p><a ng-click="jumpToConfirm()" class="jump">Jump over to the confirm modal</a></p>
    </div>
    <!-- END: Alert Modal. -->


    <!-- BEGIN: Confirm Modal. -->
    <div ng-switch-when="confirm" ng-controller="ConfirmController" class="bn-modal">
        <div class="modal-head">
            Confirm
        </div>
        <div class="modal-body">{{ message }}</div>
    </div>
    <!-- END: Confirm Modal. -->


    <!-- BEGIN: Prompt Modal. -->
    <form ng-switch-when="prompt" ng-controller="PromptController" ng-submit="submit()" class="bn-modal">
        <p>{{ message }}</p>
        <p ng-if="errorMessage"><strong>Sorry:</strong> {{ errorMessage }}</p>
        <p><input type="text" ng-model="form.input"/></p>
        <p><a ng-click="submit()">Submit</a> &mdash; <a ng-click="cancel()">Cancel</a></p>
    </form>
    <!-- END: Prompt Modal. -->


    <!-- BEGIN: Prompt message reply Modal. -->
    <div class="modal reply-modal">
        <div ng-switch-when="promptMessage" ng-controller="PromptMessageController">
            <div class="modal-content">
                <h4>{{promptTitle}}</h4>
                <div class="card-panel blue lighten-4">
                    {{message.Body}}
                </div>

                <div class="input-field" style="margin-top: 30px">
                    <textarea id="textareaReply" class="materialize-textarea" ng-model="replyText"></textarea>
                    <label for="textareaReply" class="active">Reply text</label>
                </div>
            </div>
            <div class="modal-footer">
                <a ng-click="submit()" class="modal-action modal-close waves-effect waves-green btn">Send</a>
                <a ng-click="cancel()" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>
    </div>
    <!-- END: Prompt edit building Modal. -->

</div>
<!-- END: Modals Layout. -->