<div>
    <h2 class="header">Send Message</h2>

    <div class="row">
        <div class="col s12 message-form">
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">phone</i>
                    <textarea id="textarea1" class="materialize-textarea" ng-model="numbers"></textarea>
                    <label for="textarea1" class="active">Send To</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">email</i>
                    <textarea id="textarea2" class="materialize-textarea" ng-model="message"></textarea>
                    <label for="textarea2" class="active">Message</label>
                </div>
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light btn-large right" type="button" name="action" ng-click="sendMessage()">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div ng-repeat="invitation in invitations" class="card">
<pre>{{invitation | json}}</pre>
            </div>
        </div>
    </div>

</div> <!-- /container -->